---
import Grid from '@components/Elements/Grid1.astro';
import Card from '@components/Elements/Card.astro';
import { getCollection } from 'astro:content';

// Récupérer les produits
const products = await getCollection('products');

// Filtrer les produits de la catégorie "Pâtes"
const pastaProducts = products.filter(product => 
  product.data.category.slug === 'pates' // Assurez-vous que le slug de la catégorie est correct
);
---

<Grid
  tag="section"
  gap="gap-8 md:gap-4" 
  backgroundColor="bg-secondary" 
  borderColor="border-purple-500"
  borderWidth="border-4"
  borderStyle="border-dotted"
  textAlign="center"
  overflowHidden={false}
>
  <h2 class="text-h2">Produits de la catégorie Pâtes</h2>

  <Grid
    tag="section"
    autoFit 
    gap="gap-8 md:gap-4" 
    backgroundColor="bg-accent" 
    borderColor="border-purple-500"
    borderWidth="border-4"
    borderStyle="border-dotted"
    overflowHidden={false}
  >
    {pastaProducts.map(product => (
      <a href={`/pates/${product.slug}`}>
        <Card 
          title={product.data.title} 
          description={product.data.description} 
          slug={product.slug} 
          imageUrl={product.data.image.src}
          imageAlt={product.data.image?.alt}
          price={product.data.price}
        />
      </a>
    ))}
  </Grid>
</Grid>
