---
import Grid from '@components/Elements/Grid1.astro';
import Card from '@components/Elements/Card.astro';
import { Image } from 'astro:assets';

// Constantes pour le contenu
const title = "Découvrez CASA NELA";
const subtitle = "On adore les pâtes et on veut partager notre passion avec vous.";
const description = "On prépare tout sur place :";
const items = [
  { title: "Pâtes Fraiches"},
  { title: "Sauces Maison"},
  { title: "Desserts Maison"},
  { title: "Places Assises"}
];
const image = { src: "/images/interieur-restaurant-casanela.jpeg", alt: "À propos de CASA NELA" };
---

<Grid 
tag="section"
autoFit 
gap="gap-16 md:gap-8" 
backgroundColor="bg-primary" 
borderColor="border-purple-500"
borderWidth="border-4"
borderStyle="border-dotted"
overflowHidden={false}
>
<div class="flex flex-col items-center text-center md:text-left md:items-start">
    <h2 class="text-h2">{title}</h2>
    <p class="text-body">{subtitle}</p>
    <p class="text-body">{description}</p>
    <Grid
    tag="ul"
    cols="2"
    gap="gap-8"
    class="mt-8"
  >
    {items.map(item => (
      <Card 
        title={item.title}
      />
    ))}
  </Grid>
  </div>
    <Image 
    src={image.src}
    width={400}
    height={400}
    format="webp"
    loading={"eager"}
    alt={image.alt}
    class="w-auto h-auto object-cover border-8 rounded-lg shadow-md shadow-secondary-dark"/>
</Grid>
